/*body {
  font-family: Verdana, "Trebuchet MS", Tahoma, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 2.5;
  text-align: justify;
  text-indent: 4em;
}*/

/*body {
 font: italic bold 20px/2.5 Verdana, "Trebuchet MS", Tacoma, sans-serif;
}*/







/*body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Georgia, serif;
  color: blue;
}

code {
  font-family: monospace;
  font-style: italic;
  text-decoration: underline;
  color: green;
}*/

/*body {
  font-size: 18:px;
}

p {
  font-size: 18px;
}

mark {
  background-color: yellow;
  font-family: Curier, monospace;
  font-size: 12px;
}

strong {
  font-size: 15px;
}

em {
  font-size: 20px;
  text-transform: uppercase;
}*/

a {
  color: red;
  text-decoration: none;
}





