/*@import url("launch_school_reset.css")*/
html {
  font: normal 18px "Roboto Condensed", san-serif;
}

body {
  color: #3e606f;
  background-image: linear-gradient(to bottom, #d2dbbd 0%, #fcfff5 100%);
  background-repeat: no-repeat;
}

header {
  width: 960px;
  margin: 0 auto;
  padding: 20px 20px 0;
}

h1 {
  float: left;
  background: transparent url("logo.png") 0 0 no-repeat;
  color: #193441;
  font-size: 36px;
  font-weight: normal;
  padding: 60px 0 15px 200px;
  /*padding: 45px 0 15px 115px;*/
}

nav {
  float: right;
  padding: 75px 0 0;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px;
  text-decoration: none;
  color: #91aa9d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #fcfff5;
}

nav a.active {
  color: #fcfff5;
  background: #91aa9d;
}

main {
  clear: both;
  overflow: hidden;
  width: 960px;
  padding: 30px;
  margin: 0 auto;
  background: #ffffff;
  box-sizing: border-box;
  background-color: white;
  color: inherit;
  box-shadow: 0 5px 5px #b5b5b5;
}

.masthead {
  display: block;
  margin: 0 0 40px 0;
  width: 100%;
}

footer {
  width: 960px;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 14px;
}














