#positioned {
  box-sizing: border-box;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  position: fixed;
  padding: 30 15 30 15;
  background-color: #ffc;
  top: 15px;
  z-index: 2;
  /*right: 0;*/
}

.num {
  color: #6a9974;
}

.fixed {
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#positioned span {
  background-color: pink;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5;
  left: -5;
}